[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ramreddygouni
[access "refs/for/refs/*"]
	read = group user/ramreddygouni
	push = group user/ramreddygouni
	label-Code-Review = -2..+2 group user/ramreddygouni
	label-Verified = -1..+1 group user/ramreddygouni
	rebase = group user/ramreddygouni
	removeReviewer = group user/ramreddygouni
	submit = group user/ramreddygouni
[access "refs/heads/*"]
	read = group user/ramreddygouni
	create = group user/ramreddygouni
	push = +force group user/ramreddygouni
	pushMerge = group user/ramreddygouni
[access "refs/tags/*"]
	push = group user/ramreddygouni
	push = +force group user/ramreddygouni
